<header>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/animals">All Animals</a>
      </li>
      <li>
        <a href="/animals/new">Create Animal</a>
      </li>
    </ul>
  </nav>
</header>