<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Animals</title>
</head>
<body>
  <%- include('../partials/navbar') %> 

  <h1>New Animals</h1>

  <form action="/animals" method="POST">
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" name="name" />
    </div>

    <div>
      <label for="color">Color</label>
      <input type="text" id="color" name="color" />
    </div>

    <div>
      <label for="region">Region</label>
      <input type="text" id="region" name="region" />
    </div>

    <div>
      <label for="readyToEat">Hungry?</label>
      <input type="checkbox" id="readyToEat" name="readyToEat" />
    </div>

    <!-- <button type="submit">Add Fruit</button> -->
    <input type="submit" value="Add Fruit" />
  </form>

</body>
</html>